# Exercises Python KNTU

* Name: Mohammad Kargar-gazkoh
* EMail: mohammadkargargazkoh@gmail.com
* GitHub: https://github.com/mohammadkargar99

# Pandas Tasks and Challenges

### Task 1:
    Open file heights_weights_genders using open function and convert the males/Males to 0 and females/Females to 1
    Note: Do not use pandas dataframes...

In [230]:
with open('files/heights_weights_genders.csv') as file:
    lines = file.readlines()
    str = ""
    j = 1
    for i in lines:
        if "Female" in i:
            str = i.replace("Female","1")
        elif "Male" in i:
            str = i.replace("Male","0") 
        else:
            continue
        lines[j] = str
        j+=1  
print(lines[1:5],'\n\n')
print(lines[9995::])

['"0",73.847017017515,241.893563180437\n', '"0",68.7819040458903,162.310472521300\n', '"0",74.1101053917849,212.7408555565\n', '"0",71.7309784033377,220.042470303077\n']


['"1",59.0982500313486,110.529685683049\n', '"1",66.1726521477708,136.777454183235\n', '"1",67.067154649054,170.867905890713\n', '"1",63.8679922137577,128.475318784122\n', '"1",69.0342431307346,163.852461346571\n', '"1",61.9442458795172,113.649102675312\n']

### Task 2:
    Do the previous using pandas dataframes...

In [231]:

import pandas as pd
lines = pd.read_csv("files/heights_weights_genders.csv")
lines = lines.replace(to_replace="Male", value='0');
lines = lines.replace(to_replace="Female", value='1');
lines

     Gender     Height      Weight
0         0  73.847017  241.893563
1         0  68.781904  162.310473
2         0  74.110105  212.740856
3         0  71.730978  220.042470
4         0  69.881796  206.349801
...     ...        ...         ...
9995      1  66.172652  136.777454
9996      1  67.067155  170.867906
9997      1  63.867992  128.475319
9998      1  69.034243  163.852461
9999      1  61.944246  113.649103

[10000 rows x 3 columns]

### Task 3:
    Check whether mens are heavier or women

In [232]:
if (lines.groupby('Gender').mean()["Weight"][0] > lines.groupby('Gender').mean()["Weight"][1]):
    print("mens are heavier")
else:
    print("womans are heavier")

mens are heavier

### Task 4:
    Read the tips file and check whether males pay more tips or females

In [233]:
import pandas as pd
tips_df = pd.read_csv('files/tips.csv')
tips_df.head()
if( tips_df.groupby('sex').mean()["tip"]["Male"] > tips_df.groupby('sex').mean()["tip"]["Female"]):
    print("males pay More Tips")
else:
    print("females pay More Tips")

males pay More Tips

### Task:
    Compute the average tips people give for different meals
    Note:
        Your program should not be static. As an example, if a dataframe with three meals were to be given to your code/function, it should be able to work properly without raising any errors or requirements for extra input..

In [234]:
different_meals = tips_df['time'].unique()
print(different_meals)
def average_tip (tips_df):
    meals = tips_df["time"].unique()
    average_tips_meals = {}
    for i in meals:
        average_tips_meals[i] = tips_df.groupby('time').mean()["tip"][i]
    return average_tips_meals

average_tip(tips_df)

['Dinner' 'Lunch']

{'Dinner': 3.102670454545455, 'Lunch': 2.7280882352941176}

### Task:
    Which day of the week do smokers like the better?

In [235]:
a = dict(tips_df.groupby('day').count()["smoker"].sort_values(ascending=False).head(1))
print(f"{[k for v,k in a.items()]} smokers like {[v for v,k in a.items()]} more")

[87] smokers like ['Sat'] more

### Task:
    compute the sum of tips( or any other column) paid by 4 different groups (Smoker-males, non-smoker-males, smoker-females, and non-smoker-females)
    It's better to create a function to handle this task.
    Note: you are not allowed to use group by and other out of the box functionalities.
    Just: use dataframes and iterate over them ...

In [236]:
Smoker_males=[]
non_smoker_males=[]
smoker_females=[]
non_smoker_females=[]

for i in range(len(tips_df)):
    if tips_df["sex"][i] == "Male" and tips_df["smoker"][i] == "Yes":
        Smoker_males.append(tips_df["tip"][i])
    elif tips_df["sex"][i] == "Male" and tips_df["smoker"][i] == "No":
        non_smoker_males.append(tips_df["tip"][i])
    elif tips_df["sex"][i] == "Female" and tips_df["smoker"][i] == "Yes":
        smoker_females.append(tips_df["tip"][i])
    elif tips_df["sex"][i] == "Female" and tips_df["smoker"][i] == "No":
        non_smoker_females.append(tips_df["tip"][i])
        
print(f"Smoker-males : {sum(Smoker_males)}\nnon-smoker-males : {sum(non_smoker_males)}\nsmoker-females : {sum(smoker_females)} \nnon-smoker-females : {sum(non_smoker_females)}")

Smoker-males : 183.07
non-smoker-males : 302.0
smoker-females : 96.74
non-smoker-females : 149.77

:) thanks for checking out